@page
@model CrudRazorApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="text-center mt-5">
    <h1 class="display-4">Gestor de productos SysProd</h1>
    <p class="lead">Sistema gestor de productos de abarrotes</p>
    <a class="btn btn-primary btn-lg" asp-page="/Productos/Index">Ver productos</a>
</div>
